:root {
  --main-color: #48286f;
}

/* sets font for the whole page */
* {
  font-family: Arial, sans-serif;
}

/* removes margin from body */
body {
  margin: 0;
}

/* sets up headers background and text color, padding and spacing */
header {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  color: white;
  font-weight: bold; 
  margin-bottom: 10px;
}

header h1{
  margin: 4px;
}


.locations button {
  margin: 8px;
  padding: 8px;
  background-color:var(--main-color);
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
}

.column1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.column2 {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 10px;
}

.locations{
  justify-content: center;
}

.history {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#searchHeader{
  margin: 8px;
  text-align: center;
}

button {
  font-weight: bolder;
}

#search {
  background-color:var(--main-color);
  color: white;
}

#clear{
  background-color:white;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

#input {
  margin: 8px;
  padding: 8px;
}

hr {
  clear:both;
  display:block;
  width: 90%;               
  background-color:var(--main-color);
  height: 1px;
}

 button {
  border: 0px;
  border-radius: 5px;
 }

 #currentWeather{
  border: 5px solid var(--main-color);
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 10px;
 }

 .card {
  display: inline;
  float: left;
  width: 180px;
  background-color: var(--main-color);
  color: white;
  margin: 4px;
  padding-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  justify-content: space-around;
 }

 .weatherDate {
  overflow-wrap: normal;
 }

#forecastHeader {
  text-align: center;
  color: white;
  background-color: var(--main-color);
  padding: 4px;
  border-radius: 10px;
  margin-right: 10px;
}

#weatherCards {
  margin-right: 10px;
  justify-content: space-evenly;
  margin-right: 10px;
  margin:auto;
}

.emoji {
  max-width: 200%;  
  height: auto;
  margin:0px;
  background-color: white;
  clip-path: circle();
}



h3 {
  margin: 4px;
}

#location, #date {
  margin: 10px; 
}

.temp, .wind, .humidity {
  margin: 4px;
}

.history button:nth-child(even){
  background-color: var(--main-color);
  opacity: 75%;
}

.card:nth-child(even){
  background-color: var(--main-color);
  opacity: 75%;
}

input {
  text-align: center;
}

#error {
  color: red;
  text-align: center;
  margin: 0px;
  display: none;
}

#search:hover{
  background-color:white;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
#clear:hover{
  background-color: var(--main-color);
  color: white;
}
.button:hover {
  background-color:white;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.button:nth-child(even):hover{
  opacity: 100%;
  background-color:white;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}